__pycache__/Data.cpython-311.pyc
__pycache__/Plot.cpython-311.pyc
Classifiers/__pycache__/kde.cpython-311.pyc
Classifiers/__pycache__/knn.cpython-311.pyc
Classifiers/__pycache__/svm.cpython-311.pyc
__pycache__/Data.cpython-311.pyc
__pycache__/Plot.cpython-311.pyc
Classifiers/__pycache__/knn.cpython-311.pyc
__pycache__/Plot.cpython-311.pyc
Classifiers/__pycache__/knn.cpython-311.pyc
Classifiers/__pycache__/knn.cpython-311.pyc
__pycache__/Data.cpython-311.pyc
__pycache__/Plot.cpython-311.pyc
Classifiers/__pycache__/knn.cpython-311.pyc
__pycache__/Data.cpython-311.pyc
__pycache__/Data.cpython-311.pyc
__pycache__/Plot.cpython-311.pyc
Classifiers/__pycache__/gnb.cpython-311.pyc
Classifiers/__pycache__/knn.cpython-311.pyc
